html {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  background-image: linear-gradient(#0077b6, #023e8a, #00295f);
}
.special-nav {
  height: 5rem;
  background-color: #f1f5f8 !important;
  box-shadow: 0px 4px 5px #f1f5f8;
}
.LoginWrapper {
  height: 41.55rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  height: 20rem;
  padding: 2rem 3rem;
  background-color: #f1f5f8;
  border: 1px solid #0077b6;
  border-radius: 10%;
}
label {
  color: #023e8a;
  font-weight: bold;
}
.form-control {
  width: 15rem;
  border-color: #015199;
}
.btn {
  background-color: #015199;
}

.footer {
  color: #f1f5f8;
}

.footerLink {
  color: #f1f5f8 !important;
}
#footer {
  padding-bottom: 0px !important;
}
#footerLastDiv {
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}

.footerMargin {
  margin-left: 2rem !important;
}
